.notification-page {
  display: flex;
  height: 100vh; /* Ensure the page takes the full height of the viewport */

}

.sidebar {
  width: 400px;
  border-right: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto; /* Enable scrolling in the sidebar */
  height: 100%; /* Ensure the sidebar takes the full height of the container */
}

.sidebar h2 {
  margin-bottom: 20px;
}

.notification-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-item.read {
  background-color: #f0f0f0;
}

.notification-item.unread {
  background-color: #fff;
  font-weight: bold;
}

.notification-item.current {
  background-color: #e0f7fa; /* Highlight color for the current notification */
}

.notification-title {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.unread-dot {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
  
}

.notification-time {
  font-size: 12px;
  color: #888;
}

.notification-message {
  white-space: pre-line;
}

.main-screen {
  flex: 1;
  padding: 20px;
}

.main-screen h2 {
  margin-bottom: 20px;
  overflow: hidden; /* Prevent scrolling in the main screen */

}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: darkred;
}

.selected-notifications-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}